In [56]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LinearRegression

estate_data = pd.read_csv("estate_all.csv")
input_data = estate_data.drop(columns = ['price'])
output_data = estate_data['price']
# model = LinearRegression()
model = DecisionTreeClassifier()
model.fit(input_data , output_data)

DecisionTreeClassifier()

In [42]:
estate_data.describe()

               x          y         price
count  35.000000  35.000000  3.500000e+01
mean   34.125872  52.460552  1.345714e+07
std     3.164615   2.891682  1.022495e+07
min    30.385586  49.575400  3.000000e+06
25%    31.124022  49.592650  5.250000e+06
50%    31.922585  54.309136  9.000000e+06
75%    37.296780  55.185285  1.900000e+07
max    37.308100  56.008551  3.700000e+07

In [63]:
x = estate_data['x']
y = estate_data['y']

def is_possible(x_test,y_test):
    for i in range(len(x)):
        dist = ((x[i]-x_test)**2 + (y[i]-y_test)**2)**0.5
        p = estate_data["price"][i]
        if dist < 0.02 :
            print(dist)
            prediction = model.predict([[x_test , y_test]])
            print(prediction)
            #print(str(int(prediction[0]))[::-1].replace('000','000,')[::-1])
            print("{:,}".format(int(prediction[0])))
            return True
    return False

is_possible(37.2665,49.5815)

0.011393879936177655
[29000000]
29,000,000

True

In [ ]:
from sklearn.tree import export_graphviz
from IPython.display import Image  
import pydotplus
tree.plot_tree(model)